name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

# Allow one concurrent deployment
concurrency:
  group: "ci.yml"
  cancel-in-progress: true

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - env:
          GH_TOKEN: ${{ github.token }}
        run: |

          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt update
          sudo apt install goreleaser
          goreleaser release --snapshot

          git push --delete origin v0.0.0 || true
          git tag -d v0.0.0 || true
          gh release delete v0.0.0 --yes || true

          git tag v0.0.0
          git push origin v0.0.0

          gh release create v0.0.0 \
            --title "v0.0.0" \
            --notes "Automated release" \
            dist/*.tar.gz dist/*.zip
